.icon-close::after {
    content: url("../img/icons/close.svg");
    width: 18px;
    height: 18px;
}

.icon-search::after {
    content: url("../img/icons/search.svg");
    width: 18px;
    height: 18px;
}

.page--theme-white {
    background-color: #ffffff;
}

.sidebar {
    background-color: #ffffff;
    width: 320px;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar--position--left {
    left: 0;
    box-shadow: 0 0 50px -15px #0E1850;
}

.contact-info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    transition: opacity ease-in-out 0.4s;
}

.contact-info a:hover {
    opacity: 0.8;
}

.contact-info__email {
    font-weight: 500;
    margin-bottom: 12px;
}

.contact-info__tel {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.lang-switcher {
    display: flex;
    font-weight: 500;
    text-transform: uppercase;
    transition: opacity ease-in-out 0.3s;
}

.lang-switcher__lang:not(:first-of-type) {
    margin-left: 7px;
}

.lang-switcher__lang:hover {
    opacity: 0.7;
}

.lang-switcher__lang input {
    display: none;
}

.lang-switcher__lang input:checked ~ label {
    color: #7e7e82;
}

.vertical-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: opacity ease-in-out 0.4s;
}

.vertical-menu__item {
    margin-bottom: 16px;
}

.vertical-menu__item--status--active a {
    color: #7e7e82;
}

.vertical-menu__item a {
    font-weight: 500;
    display: block;
    height: 32px;
    padding-left: 24px;
}

.vertical-menu__item:not(.vertical-menu__item--status--active) a:hover {
    opacity: 0.7;
}