/* sidebar block */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 320px;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 19px 24px 32px;
}

.sidebar__header {
    margin-bottom: 46px;
}

.sidebar__nav {
    margin-left: -24px;
}

.sidebar__footer {
    margin-top: auto; 
}

.sidebar--position--left {
    left: 0;
    box-shadow: 0 0 50px -15px #0E1850;
}

/* sidebar-footer block */
.sidebar-footer {}

.sidebar-footer__icons-menu {
    margin-bottom: 16px;
}

.sidebar-footer__contact-info {
    margin-bottom: 40px;
}

/* contact-info block */
.contact-info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    transition: opacity ease-in-out 0.4s;
}

.contact-info a:hover {
    opacity: 0.8;
}

.contact-info__email {
    font-weight: 500;
    margin-bottom: 12px;
}

.contact-info__tel {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

/* lang-switcher block */
.lang-switcher {
    display: flex;
    font-weight: 500;
    text-transform: uppercase;
    transition: opacity ease-in-out 0.3s;
}

.lang-switcher__lang:not(:first-of-type) {
    margin-left: 7px;
}

.lang-switcher__lang:hover {
    opacity: 0.7;
}

.lang-switcher__lang input {
    display: none;
}

.lang-switcher__lang input:checked ~ label {
    color: #7e7e82;
}

/* vertical-menu block */
.vertical-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: opacity ease-in-out 0.4s;
}

.vertical-menu__item {
    margin-bottom: 16px;
}

.vertical-menu__item a {
    font-weight: 500;
    display: flex;
    height: 32px;
    padding-left: 24px;
    align-items: center;
}

.vertical-menu__item--status--active a {
    color: #7e7e82;
    padding-left: 0;
}

.vertical-menu__item--status--active a::before {
    content: url("../img/highlight.svg");
    margin-right: 20px;
    width: 4px;
    height: 40px;
}

.vertical-menu__item:not(.vertical-menu__item--status--active) a:hover {
    opacity: 0.7;
}

/* sidebar-header block */
.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header__left-button {

}

.sidebar-header__logo {
    margin-left: 17px;
}

.sidebar-header__right-button {
    margin-left: auto;
}